@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px)
	.header__nav
		display none
	.header__burger
		display block
	.mobile
		display block

@media (max-width: 767.98px) {  }

@media (max-width: 575.98px)
	.header__logo
		width 100px
	.hero__title
		font-size 60px
	.hero__text
		font-size 24px
	.hero
		padding-top 180px